{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
  <div class="visible-sml h-100 w-100">
    <div class="image-container h-100">
      <div class="menu col-12 d-flex flex-column justify-content-center align-items-center">
        <a href="{% url 'menu' %}">
          <p>Menu</p>
        </a>
      </div>
      <div class="book col-12 d-flex flex-column justify-content-center align-items-center">
        {% if user.is_authenticated %}
        <a href="{% url 'bookings' %}">
            <p>
              BOOK
            </p>
        </a>
       {% else %}
        <a href="{% url 'account_signup' %}">
            <p>
              SIGN UP
            </p>
        </a>
      {% endif %}
      </div>
      <div class="contact col-12 d-flex flex-column justify-content-center align-items-center">
        <a href="{% url 'contact' %}">
          <p>Contact</p>
        </a>
      </div>
    </div>
  </div>

  <div class="visible-md container-fluid h-100 w-100 circle_rule">
    {% include 'home/includes/interface_circles.html' %}
  </div>

  <div class="visible-lg container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="circles">
          <div class="menu2 m-1 circle">
            <a href="{% url 'menu' %}">
              <p class="d-flex flex-column align-items-center">
                <i class="fa-solid fa-utensils align-self-center mb-0"></i>
                Menu
              </p>
            </a>
          </div>
          <div class="book2 m-1 circle text-center">
            {% if user.is_authenticated %}
            <a href="{% url 'bookings' %}">
              <p class="d-flex flex-column align-items-center">
                <i class="fa-solid fa-book-open align-self-center mb-0"></i>
                Book
              </p>
            </a>
            {% else %}
            <a href="{% url 'account_signup' %}">
              <p>
                SIGN UP<br>
                TO BOOK
              </p>
            </a>
            {% endif %}
          </div>
          <div class="contact2 m-1 circle">
            <a href="{% url 'contact' %}">
              <p class="d-flex flex-column align-items-center">
                <i class="fa-solid fa-phone-flip align-self-center mb-0"></i>
                Contact
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-8 review"> 
      {% include 'home/includes/reviews.html' %}
      </div>
    </div>
  </div>

  <div class="middle-size-review">
    <div class="container">
      <div class="row">
  
        <!-- Review 1 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sarah Michaels</h5>
              <br>   
              <hr>
              <p class="card-text">
                  <em>
                      "Experience culinary brilliance at BYTE, where innovative creation takes center stage..."
                  </em>
              </p>
              <div class="text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="card-text magazine"><em><small>- Gastronomy Digest</small></em></p>
            </div>
          </div>
        </div>

        <!-- Review 3 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Aoife Reynolds</h5>
              <br>   
              <hr>
              <p class="card-text">
                  <em>
                      "Discover a culinary masterpiece at BYTE, where Chef Sophia Bennett's exquisite creations 
                      take gastronomy to new heights...""
                  </em>
              </p>
              <div class="text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="card-text magazine"><em><small>- The Epicurean Times</small></em></p>
            </div>
          </div>
        </div>
  
        <!-- Review 3 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Max Anderson</h5>
              <br>   
              <hr>
              <p class="card-text">
                  <em>
                      "At BYTE, Chef Sophia Bennett showcases her culinary prowess in a space 
                      that seamlessly combines minimalism and industrial charm..."
                  </em>
              </p>
              <div class="text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p class="card-text magazine"><em><small>- The Gourmet Gazette</small></em></p>
            </div>
          </div>
        </div>      
  
      </div>
    </div>
  
  </div>

  <div class="container supervision">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="text-center">
              <form method="post">
                {% csrf_token %}
                <button type="submit" name="superuser_btn" class="btn eye btn-lg">
                  <i class="fa-solid fa-eye eye btn-lg"></i>
                  <h4 class="eye">Superuser View</h4>
                </button>
              </form>
            </div>
        </div>
    </div>
  </div>

{% endblock %}