{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="image-container row h-100">
      <div class="menu nav_slab col-12 d-flex flex-column justify-content-center align-items-center">
        <p>MENU</p>
      </div>
      <div class="book nav_slab col-12 d-flex flex-column justify-content-center align-items-center">
        <p>BOOK</p>
      </div>
      <div class="contact nav_slab col-12 d-flex flex-column justify-content-center align-items-center">
        <p>CONTACT</p>
      </div>
    </div>
  </div>
{% endblock %}