<script type="text/javascript">
$(document).ready(function() {
  $(".draggable-item").draggable({
    containment: "parent",
    stop: function(event, ui) {
      var tableId = ui.helper.attr("id").replace("table_", "");
      var newX = parseFloat(ui.position.left);
      var newY = parseFloat(ui.position.top);
      saveTableLocation(tableId, newX, newY);
    }
  });
});

function saveTableLocation(tableId, left, top) {
  var url = 'https://8000-oisinwrites-byte-xx3cqnmui5k.ws-eu100.gitpod.io/bookings/bookings/save_table_location/';
  var data = {
    table_id: tableId,
    left: left,
    top: top,
    csrfmiddlewaretoken: "{{ csrf_token }}",
  };

  $.post(url, data, function(response) {
    if (response.success) {
      console.log("Table location saved successfully.");
    } else {
      console.log("Failed to save table location.");
    }
  });
}
</script>
  