<div class="text-center">
  <h3>{{ user.username }}'s Bookings</h3>
  <hr>
  {% if users_bookings %}          
    <p>Select a booking to edit it</p>
  {% endif %}
</div>

{% if grouped_results %}
  {% if current_bookings %}
    <div class="booking-list-scroller">
    <div class="container padded-bottom">
      {% for result in grouped_results %}
        <h3>{{ result.day|date:"F d" }}</h3>
        <div class="booking-book">
          {% for booking in result.bookings %}
            <div class="card booking-card">
              <a href="{% url 'edit_booking' booking_id=booking.id %}">
                <div>{{ booking.start_time|date:"M d" }} at {{ booking.start_time|time:"g:i A" }}</div>
                <div>{{ booking.size_of_party }} <i class="fa-solid fa-user-group"></i></div>
              </a>
            </div> 
          {% endfor %}
        </div>
        <hr>
      {% endfor %}
    </div>
    </div>
  {% endif %}
  {% else %}
    <p class="my-0">You've no current bookings</p>
    <br>
    <div class="on_mobile">
      <p>
        You can make one on our 
        <a class="text-center nav-link burger my-0" id="bookings-link" href="{% url 'bookings' %}">
          bookings page!
        </a>
      </p> 
    </div>
{% endif %}
