html {
    font-size: 16px;
}

body {
    font-family: 'Bebas Neue';
    background: url('/static/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.header {
    height: 20vh;
    color: rgb(0, 178, 202);
}

h1 {
    font-weight: 900;
    font-size: 8rem;
}

.menu {
    background-color: 	rgb(251, 209, 162);
    align-items: flex-start !important;
    padding-left: 20vw;
}

.book {
    background-color:rgb(125, 207, 182);
    align-items: flex-end !important;
    padding-right: 20vw;
}

.contact {
    background-color:	rgb(16, 111, 151);
    align-items: flex-start !important;
    padding-left: 20vw;
}

.menu, .book, .contact  {
    height: 20vh;
    display: flex;
    font-weight: 900;
    font-size: 7rem;
    margin: 1vh;
}

.menu p, .book p, .contact p,
.menu2 p, .book2 p, .contact2 p {
    background: url('/static/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu2 p, .book2 p, .contact2 p {
    margin-top: 2.5vh;
    font-size: 2rem;
}

.footer {
    height: 12vh;
    background-color: rgb(219, 83, 117);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5vh;
}

.menu2 {
    background-color: 	rgb(251, 209, 162);
}

.book2 {
    background-color:rgb(125, 207, 182);
}

.contact2 {
    background-color:	rgb(16, 111, 151);
}

.circles {
    display: flex;
    justify-content: space-around;
    margin-top: 22.5vh;
}

.circle  {
    max-width: 15vw !important;
    height: 15vw !important;
    border-radius: 50%;
    display: flex;
    justify-content:center ;
    align-items: center !important;
}

@media (max-width: 768px) {
    .visible-sml {
      display: none;
    }
}

@media (min-width: 767px) {
    .visible-lg {
      display: none;
    }
}

@media (max-width: 400px) {
    .menu, .book, .contact  {
        height: 20vh;
        display: flex;
        font-weight: 700;
        font-size: 4rem;
        margin: 1vh;
    }

    h1 {
        font-weight: 700;
        font-size: 6rem;
    }
}

