html {
    font-size: 16px;
}

body {
    color: rgb(125, 207, 182);
    font-family: 'Bebas Neue';
    background: url('/static/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.header {
    height: 20vh;
    background-color:	rgb(11, 79, 108);
}

h1 {
    font-weight: 900;
    font-size: 8rem;
    background: url('/static/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-clip: text; /* Set background clip to text */
    -webkit-text-fill-color: transparent; /* Set text fill color to transparent */
}

.menu {
    background-color: 	rgb(251, 209, 162);
    align-items: flex-start !important;
    padding-left: 20vw;
}

.book {
    background-color:rgb(125, 207, 182);
    align-items: flex-end !important;
    padding-right: 20vw;
}

.contact {
    background-color:	rgb(0, 178, 202);
    align-items: flex-start !important;
    padding-left: 20vw;
    font-size: 6rem !important;
}

.menu, .book, .contact  {
    height: 20vh;
    display: flex;
    font-weight: 900;
    font-size: 8rem;
    margin: 1vh;
}

.menu p, .book p, .contact p {
    background: url('/static/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-stretch: expanded;
}

.footer {
    height: 20vh;
    background-color: rgb(219, 83, 117);
}