html {
    font-size: 16px;
}

body {
    font-family: 'Bebas Neue';
    background: url('/static/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.header {
    height: 20vh;
    color: rgb(11, 79, 108);
}

h1 {
    font-weight: 900;
    font-size: 8rem;
}

.menu {
    background-color: 	rgb(251, 209, 162);
    align-items: flex-start !important;
    padding-left: 20vw;
}

.book {
    background-color:rgb(125, 207, 182);
    align-items: flex-end !important;
    padding-right: 20vw;
}

.contact {
    background-color:	rgb(0, 178, 202);
    align-items: flex-start !important;
    padding-left: 20vw;
}

.menu, .book, .contact  {
    height: 20vh;
    display: flex;
    font-weight: 900;
    font-size: 7rem;
    margin: 1vh;
}

.menu p, .book p, .contact p {
    background: url('/static/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    height: 12vh;
    background-color: rgb(219, 83, 117);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5vh;
}

@media (min-width: 767px) {
    .visible-lg {
      display: none;
    }
    .menu {
        background-color: 	rgb(251, 209, 162);
    }
    
    .book {
        background-color:rgb(125, 207, 182);
    }
    
    .contact {
        background-color:	rgb(0, 178, 202);
    }
    
    .menu, .book, .contact  {
    }
  }

@media (max-width: 400px) {
    .menu, .book, .contact  {
        height: 20vh;
        display: flex;
        font-weight: 700;
        font-size: 4rem;
        margin: 1vh;
    }

    h1 {
        font-weight: 700;
        font-size: 6rem;
    }
}

