{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="booking-form">
    <h2>Request a Booking</h2>
    {% if user.is_authenticated %}
    <form method="POST" id="booking-form">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit">Request Booking</button>
    </form>
    {% else %}
    <div>
        <p>Please sign in to make a booking</p>
    </div>
    {% endif %}
  </div>
  
  <div class="booking-list booking-form">
    <h2>My Bookings</h2>
    <ul>
      {% for booking in bookings %}
        <li>{{ booking.size_of_party }} - {{ booking.start_time|date:"d-m-Y H:i:s" }} to {{ booking.end_time|date:"d-m-Y H:i:s" }}</li>
      {% empty %}
        <li>No bookings yet.</li>
      {% endfor %}
    </ul>
  </div>


{% endblock %}