{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="booking-form col-md-2">
    <div class="booking-heading">
      <p>Bookings</p>
    </div>
  </div>
  <div class="booking-form col-md-6">
    <h2>Request a Booking</h2>
    {% if user.is_authenticated %}
    <p class="text-center">
      We accept bookings from  <br>  
      Wednesday to Sunday<br>
      5pm to 9pm<br>
      We accomodate groups of up to 6<br>
      <u>Subject to Availability</u>

    </p>
    <form method="POST" id="booking-form">
        {% csrf_token %}
        {{ form|crispy }}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      <button type="submit">Request Booking</button>
    </form>
    {% else %}
    <div> 
      <p>Please
        <a href="{% url 'account_signup' %}" class="my-0 account-logo"> sign in </a> 
        to make a booking</p>
    </div>
    {% endif %}
  </div>
  
  {% if user.is_authenticated %}
    <div class="booking-list booking-form col-md-4">
      <div>
        {% if current_bookings|filter(user=request.user)|length > 0 %}
          <h3>My Bookings</h3>
          <p>Select a booking to edit it</p>
          <hr>
        {% else %}
          <p>You haven't made any bookings yet.</p>
        {% endif %}
      </div>
      <h3>My Bookings</h3>
      <p>Select a booking to edit it</p>
      <hr>
      {% if current_bookings %}
        {% for booking in current_bookings %}
          {% if booking.user == request.user %}
            <div class="row my-0 current_bookings">
              <a href="{% url 'edit_booking' booking_id=booking.id %}" class="btn edit-booking-btn">
                {{ booking.start_time|date:"M d" }} at 
                {{ booking.start_time|time:"g:i A" }} 
                <br class="split-booking-line">
                for 
                {{ booking.size_of_party }}
                {% if booking.size_of_party == 1 %} guest{% else %} guests{% endif %}
              </a>
              <a href="{% url 'delete_booking' booking_id=booking.id %}" class="btn delete-button">
                <i class="fa-solid fa-delete-left"></i>
              </a>
            </div>
          {% endif %}
        {% empty %}
          <p>You haven't made any bookings yet.</p>
        {% endfor %}
      {% else %}
        <p>You haven't made any bookings yet.</p>
      {% endif %}
    </div>
  {% endif %}

</div>

{% endblock %}
