{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}

{% if user.is_superuser %}
  <div class="row">
    <div class="booking-page col-sx-12 col-md-6">
      <div class="text-center manage-bookings">
        <div>
          <h2>Manage Bookings</h2>
          <form class="form-inline float-right">
            <input class="form-control mr-sm-2" type="text" placeholder="Search by guest" name="search">
            <button class="btn my-2 my-sm-0" type="submit">Find Booking</button>
          </form>
        </div>

        <div class="btn-group mr-2" role="group">
          <a href="?filter=all" class="btn">All</a>
          <a href="?filter=day" class="btn">Today</a>
          <a href="?filter=week" class="btn">This week</a>
        </div>
        <hr>

        {% if grouped_results %}
          <div class="booking-list-scroller">
            <div class="container">
              {% for result in grouped_results %}
              <h3>{{ result.day|date:"F d" }}</h3>
              <div class="booking-book">
                {% for booking in result.bookings %}
                  <div class="card booking-card">
                      <a href="{% url 'edit_booking' booking_id=booking.id %}">
                        <div>{{ booking.user.username|slice:"-10:" }}</div>
                        <div>Table # {{ booking.table.number }}</div>
                        <div>{{ booking.size_of_party }} <i class="fa-solid fa-user-group"></i></div>
                        <div>{{ booking.start_time|time:"g:i A" }}</div>
                      </a>
                  </div>
                {% endfor %}
              </div>
              <hr>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <p>No bookings found.</p>
          {% endif %}

      </div>
    </div> 

    <div class="booking-page col-sx-12 col-md-6">
      <h2>Seating plan</h2>
      <form method="POST" id="table-form">
        {% csrf_token %}
        {{ table_form|crispy }}
        <button type="submit" onclick="refreshPage()">Add Table</button>
      </form>

      <div id="room-map">
        <img class="col-12 floor-plan" src="/static/media/floorplan-min.jpg" alt="Byte table map">
        {% for table in tables %}
        <div class="draggable-item size{{ table.size }}" id="table_{{ table.number }}">{{ table.number }}.</div>
        {% endfor %}
        </div>

        <div class="container table-list">
          {% for table in tables %}
          <div class="table-item d-flex align-items-center justify-content-center">
            <h5>T {{ table.number }}|</h5>
            <div class="d-flex align-items-center justify-content-center">
              {{ table.size }}<i class="fa-solid fa-user-group"></i></div> 
            <a href="{% url 'delete_table' table_id=table.id %}" class="btn delete-button">
              <i class="fa-solid fa-delete-left"></i>
            </a>
          </div>
      {% endfor %}
    </div>
    <div class="header-spacer"></div>
  </div>
    <script>  
      // JavaScript code to update the value display element
      var slider = document.getElementById('id_size_of_party');
      var sliderValue = document.getElementById('slider_value');

      sliderValue.innerHTML = slider.value; // Initial value

      slider.oninput = function() {
      sliderValue.innerHTML = this.value;
      };

    function refreshPage() {
      location.reload(); // Refresh the page
    }
    </script>
{% else %}
    <script>
        window.location.href = "{% url 'home' %}";
    </script>
{% endif %}
<script>
  $(document).ready(function() {
    $(".draggable-item").each(function() {
      makeDraggable($(this));
    });

    $("#table-form").submit(function(event) {
      event.preventDefault();
      var formData = $(this).serialize();
      $.ajax({
        url: $(this).attr("action"),
        type: $(this).attr("method"),
        data: formData,
        success: function(response) {
          var tableId = response.table_id;
          var tableNumber = response.table_number;
          var tableSize = response.table_size;
          var newTable = $("<div>", { class: "draggable-item", id: "table_" + tableId, text: tableNumber });
          $("#room-map").append(newTable);
          makeDraggable(newTable);
          var tableItem = $("<div>", { class: "table-item", text: "T " + tableNumber + "|Seating for " + tableSize });
          tableItem.append($("<a>", { href: "/delete-table/" + tableId, class: "btn delete-button", text: "X" }));
          $(".table-list").append(tableItem);
          $("#table-form")[0].reset();
        },
        error: function(xhr, status, error) {
          console.log(xhr.responseText);
        }
      });
    });
  });

  function makeDraggable(element) {
    var itemId = element.attr("id");
    var storedPosition = localStorage.getItem(itemId);
    if (storedPosition) {
      var position = JSON.parse(storedPosition);
      element.css({ left: position.left, top: position.top });
    }

    element.draggable({
      containment: "#room-map",
      grid: [10, 10],
      snap: true,
      snapTolerance: 10,
      stop: function(event, ui) {
        var itemId = element.attr("id");
        var leftPosition = ui.position.left;
        var topPosition = ui.position.top;

        // Check for collision with other draggable items
        var draggableItems = $(".draggable-item").not(element);
        var collisionDetected = false;

        draggableItems.each(function() {
          if (isColliding(element, $(this))) {
            collisionDetected = true;
            return false; // Exit the loop early
          }
        });

        if (collisionDetected) {
          // Reset to original position
          var storedPosition = JSON.parse(localStorage.getItem(itemId));
          element.css({ left: storedPosition.left, top: storedPosition.top });
        } else {
          // Update position in local storage
          localStorage.setItem(itemId, JSON.stringify({ left: leftPosition, top: topPosition }));
        }
      }
    });
  }

  function isColliding(element1, element2) {
    var offset1 = element1.offset();
    var offset2 = element2.offset();

    var top1 = offset1.top;
    var left1 = offset1.left;
    var bottom1 = top1 + element1.outerHeight();
    var right1 = left1 + element1.outerWidth();

    var top2 = offset2.top;
    var left2 = offset2.left;
    var bottom2 = top2 + element2.outerHeight();
    var right2 = left2 + element2.outerWidth();

    return !(bottom1 < top2 || top1 > bottom2 || right1 < left2 || left1 > right2);
  }
</script>
{% endblock %}
