{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_superuser %}
<div class="row my-20">
  <div class="booking-form col-md-6">
    <h2>Manage Bookings</h2>
    <form class="form-inline float-right">
      <input class="form-control mr-sm-2" type="text" placeholder="Search by guest" name="search">
      <button class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="btn-group mr-2" role="group">
      <a href="?filter=all" class="btn">All</a>
      <a href="?filter=day" class="btn">Today</a>
      <a href="?filter=week" class="btn">This week</a>
    </div>
    {% if bookings %}
    <div class="table-responsive booking-list-scroller">
      <table class="table">
        <thead>
          <tr>
            <th>User name</th>
            <th>Size of party</th>
            <th>Table ID</th>
            <th>Start time</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
            <tr>
              <td>{{ booking.user.username }}</td>
              <td>{{ booking.size_of_party }}</td>
              <td>{{ booking.table.number }}</td>
              <td>{{ booking.start_time }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <p>No bookings found.</p>
    {% endif %}
  </div>
  <div class="booking-list booking-form col-md-6">
    <h3>Seating plan</h3>
    {% for table in tables %}
    <p>hello</p>
      <div>
          {{ table }} {% if table.is_available %}Available{% else %}Unavailable{% endif %}
          <form method="post" action="{% url 'delete_table' %}">
              {% csrf_token %}
              <input type="hidden" name="table_id" value="{{ table.id }}">
              <button type="submit">Delete</button>
          </form>
          <a href="{% url 'edit_table' table.id %}">Edit</a>
      </div>
    {% endfor %}
    </div>
    </div>
</div>
{% else %}
    <script>
        window.location.href = "{% url 'home' %}";
    </script>
{% endif %}



{% endblock %}
