{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">

  <div class="booking-page not_on_mobile col-md-2">
    <div class="booking-heading">
      <p>Bookings</p>
    </div>
  </div>
  
  <div class="booking-page col-sx-12 col-md-6">
    <div class="text-center">
      <h2>Request a Booking</h2>
    {% if user.is_authenticated %}
      <p class="text-center visible-md">
        We accept bookings from  <br>  
        Wednesday to Sunday<br>
        5pm to 9pm<br>
        We accomodate groups of up to 6<br>
        <u>Subject to Availability</u>
      </p>

      <form method="POST" class="booking-form">
          {% csrf_token %}
          {{ form|crispy }}        
          
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
          
          <button class="booking-submit-button" type="submit">
            <i class="fa-solid fa-bell-concierge"> </i>
            <i class="fa-solid fa-bell-concierge fa-shake"></i>
             Request Booking
          </button>
      </form>
      
    {% else %}
      <div> 
        <p>Please
          <a href="{% url 'account_signup' %}" class="my-0 account-logo"> sign in </a> 
          to make a booking</p>
      </div>
    {% endif %}
    </div>
  </div>
  
  {% if user.is_authenticated %}
    <div class="booking-list booking-page not_on_mobile col-md-4">
      {% include 'bookings/includes/my_bookings_section.html' %}
    </div>
  {% endif %}

</div>

<script>  
// JavaScript code to update the value display element
var slider = document.getElementById('id_size_of_party');
var sliderValue = document.getElementById('slider_value');

sliderValue.innerHTML = slider.value; // Initial value

slider.oninput = function() {
sliderValue.innerHTML = this.value;
};
</script>
{% endblock %}
