{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}

{% if user.is_superuser %}
  <div class="row">

    <div class="booking-page col-sx-12 col-md-6">
      <div class="text-center">
        <div>
          <h2>Manage Bookings</h2>
          <form class="form-inline float-right">
            <input class="form-control mr-sm-2" type="text" placeholder="Search by guest" name="search">
            <button class="btn my-2 my-sm-0" type="submit">Find Booking</button>
          </form>
        </div>

        <div class="btn-group mr-2" role="group">
          <a href="?filter=all" class="btn">All</a>
          <a href="?filter=day" class="btn">Today</a>
          <a href="?filter=week" class="btn">This week</a>
        </div>
        <hr>

        {% if grouped_results %}
          <div class="booking-list-scroller">
            <div class="container">
              {% for result in grouped_results %}
              <h3>{{ result.day|date:"F d" }}</h3>
              <div class="booking-book">
                {% for booking in result.bookings %}
                  <div class="card booking-card">
                      <a href="{% url 'edit_booking' booking_id=booking.id %}">
                        <div>{{ booking.user.username|slice:"-10:" }}</div>
                        <div>Table # {{ booking.table.number }}</div>
                        <div>{{ booking.size_of_party }} <i class="fa-solid fa-user-group"></i></div>
                        <div>{{ booking.start_time|time:"g:i A" }}</div>
                      </a>
                      <a href="{% url 'delete_booking' booking_id=booking.id %}" class="btn delete-button">
                        <i class="fa-solid fa-delete-left"></i>
                      </a>
                  </div>
                {% endfor %}
              </div>
              <hr>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <p>No bookings found.</p>
          {% endif %}

      </div>
    </div> 

    <div class="booking-page col-sx-12 col-md-6">

      <div>
        <h2>Seating plan</h2>
        {% if tables.count == 12 %}
        <p>
          Room at full capacity.<br>
          Try deleting a table before adding another.
        </p>
        {% else %}
        <form method="POST" id="table-form">
          {% csrf_token %}
          {{ table_form|crispy }}
          <button type="submit" onclick="refreshPage()">Add Table</button>
        </form>
        {% endif %}
      </div>

      <div class="map" style="display: none;">
        <img  class="room-map col-12 floor-plan" src="/static/media/floorplan-min.jpg" alt="Byte table map">
        {% for table in tables %}
        <div class="draggable-item size{{ table.size }}"
        id="table_{{ table.number }}"
        data-table-id="{{ table.id }}"
        style="left: '{{ table.left }}'; top: '{{ table.top }}'">
          {{ table.number }}.
        </div>
        {% endfor %}
      </div>
      
      <div class="container table-list">
        {% for table in tables %}
        <div class="table-item d-flex align-items-center justify-content-center">
          <h5>T {{ table.number }}|</h5>
          <div class="d-flex align-items-center justify-content-center">
            {{ table.size }}<i class="fa-solid fa-user-group"></i></div> 
          <a href="{% url 'delete_table' table_id=table.id %}" class="btn delete-button">
            <i class="fa-solid fa-delete-left"></i>
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="header-spacer"></div>
      
    </div>

  </div>

<script type="text/javascript">
  function clearLocalStorage() {
    localStorage.clear();
  }
  // JavaScript code to update the value display element
  var slider = document.getElementById('id_size_of_party');
  var sliderValue = document.getElementById('slider_value');

  sliderValue.innerHTML = slider.value; // Initial value

  slider.oninput = function() {
  sliderValue.innerHTML = this.value;
  };

function refreshPage() {
  location.reload(); // Refresh the page
}
</script>
{% include 'bookings/includes/draggable_items_for_map.html' %}
{% else %}
    <script>
        window.location.href = "{% url 'home' %}";
    </script>
{% endif %}
{% endblock %}
