{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="booking-page not_on_mobile col-md-2">
    <div class="booking-heading name">
      <p>{{ user.username|slice:":-6" }}</p>
    </div>
  </div>
  {% if user.is_authenticated %}
  <div class="booking-page col-md-6">
    {% if user.is_superuser or booking.user.id == request.user.id %}
    <div id="collapse-for-edit">
      {% if booking %}
      <h2>Booking Details</h2>
      
      <div class="card booking-card">
        <h4>{{ booking.user }} </h4>
        <p>{{ booking.email }}</p>
        <hr>
        
        <p>
          {{ booking.start_time }}<br>
          <strong>{{ booking.size_of_party }} </strong>Guests<br>
          {% if booking.additional %}
          <div class="position-relative bg-light rounded ml-3 p-2 shadow-sm" style="max-width: 300px;">
            <div class="position-relative">
              <div class="position-absolute top-0 start-0"></div>
              <p class="m-0"><small>{{ booking.additional }}</small></p>
            </div>
          </div>
          {% else %}
          No additional information provided for this booking.
          {% endif %}
          <br>
          <div>
            <a href="{% url 'delete_booking' booking_id=booking.id %}" class="btn delete-button booking-submit-button">
              Delete Booking
            </a>
            <button id="edit-button" class="btn edit-button booking-submit-button" type="button">
              Edit Booking
            </button>
            <button class="cancel-btn btn booking-submit-button" type="button">Cancel</button>
          </div>
        </p>
        </div>
      {% endif %}
    </div>
    {% endif %}
    <div id="edit_booking" style="display: none;">
      <h2>Edit Booking</h2>
      <p class="text-center not_on_mobile">
          We accept bookings from  <br>  
          Wednesday to Sunday<br>
          5pm to 9pm<br>
          <u>Subject to Availability</u>
      </p>
      <h5>{{ user.username }}</h5>
      <form method="POST" id="booking-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="not_on_mobile booking-submit-button" name="return_to_bookings" type="submit">Update Booking</button>
        <button class="on_mobile booking-submit-button" name="return_to_my_bookings" type="submit">Update Booking</button>
        <button class="cancel-btn booking-submit-button" type="button">Cancel</button>
      </form>
    </div>
    
  </div>

  <div class="booking-list booking-page not_on_mobile col-md-4">
    {% include 'bookings/includes/my_bookings_section.html' %}
  </div>
  
  {% endif %}
</div>

<script>  
  // JavaScript code to update the value display element
  var slider = document.getElementById('id_size_of_party');
  var sliderValue = document.getElementById('slider_value');
  
  sliderValue.innerHTML = slider.value; // Initial value
  
  slider.oninput = function() {
  sliderValue.innerHTML = this.value;
  };

  // Toggle visibility of the "Edit Booking" section
  var editButton = document.getElementById('edit-button');
  var editBookingSection = document.getElementById('edit_booking');
  var collapse = document.getElementById('collapse-for-edit');
  
  editButton.addEventListener('click', function() {
    collapse.style.display = 'none';
    if (editBookingSection.style.display === 'none') {
      editBookingSection.style.display = 'block';
    } else {
      editBookingSection.style.display = 'none';
    }
  });

  // Get all elements with the class "myButton"
  var buttons = document.getElementsByClassName("cancel-btn");

  // Iterate over the buttons and add a click event listener to each
  for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener("click", handleClick);
  }

  // The function to be executed when the button is clicked
  function handleClick() {
      history.go(-1);
  }

  </script>
{% endblock %}