{% extends "base.html" %}

{% block content %}
  {% if user.is_superuser %}
  <div class="row">

    <div class="booking-page not_on_mobile col-md-2">
      <div class="booking-heading">
        <p style="white-space: nowrap;">The Diary</p>
      </div>
    </div>

    <div class="booking-page col-sx-12 col-md-10" id="bookings-section" style="display: block;">
      <div class="text-center mx-3">

        <h1 class="on_mobile">The Diary<hr></h1>
        
        {% if grouped_results %}
          <div class="booking-list-scroller container diary-container padded-bottom">
            {% for result in grouped_results %}
              <div class="diary-header">
                <h3>{{ result.day|date:"F d" }}</h3>
                <p>Covers: {{ result.total_covers }}</p>
              </div>
                <div class="scrollable-area booking-row">
                  {% for booking in result.bookings %}
                  <div class="card booking-card diary-item">
                    <a href="{% url 'edit_booking' booking_id=booking.id %}">
                      <div>{{ booking.start_time|time:"H:i" }}</div>
                      <div>{{ booking.user.username|slice:"-10:" }}</div>
                      <div>{{ booking.size_of_party }} <i class="fa-solid fa-user-group"></i></div>
                      <div>Table # {{ booking.table.number }}</div>                   
                    </a>
                  </div>
                  {% endfor %}
                </div>
              
            
            {% endfor %}
          </div>
        {% else %}
        <p>No bookings found.</p>
        {% endif %}

      </div>
    </div>

  </div>
  {% endif %}

{% endblock %}
