{% load static %}

{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    < rel="stylesheet" href="https://res.cloudinary.com/dwhennrjl/raw/upload/v1687975609/static/css/base.456ded9d9b40.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0341233083.js" crossorigin="anonymous"></script>

       
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Byte: Developer Diner {% block extra_title %}{% endblock %}</title>
    <link rel='shortcut icon' type='image/png' href='https://res.cloudinary.com/dwhennrjl/image/upload/v1683628874/static/favicon.png.png'/>
    <meta name="description" content="This is a restaurant booking site. It allows users to create profiles to make, edit, and delete bookings for
    a fictional restaurant. The site owner can see all bookings and manage them.">
    <meta name="keywords" content="Reservations, restaurant, booking system">
    <meta name="author" content="OisínWrites">

</head>
<body>
    <header>

        <div class="header container d-flex justify-content-around align-items-center">

          <div class="navbar-light d-flex justify-content-center">
            <button class="btn burger-icon" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu drop" aria-labelledby="navbarDropdownMenuLink">
              <a class="nav-link burger" href="{% url 'home' %}">
                Home
              </a>
              <a class="nav-link burger" href="{% url 'menu' %}">
                Menu
              </a>
              {% if user.is_authenticated %}
              <a class="nav-link burger" href="{% url 'bookings' %}">
                Bookings
              </a>
              <a class="nav-link burger on_mobile" href="{% url 'my_bookings' %}">
                My Bookings
              </a>              
              {% endif %}
              <a class="nav-link burger" href="{% url 'contact' %}">
                Contact
              </a>
              {% if user.is_superuser %}
              <a class="nav-link burger" href="{% url 'diary' %}">
                The Diary
              </a>
              <a class="nav-link burger" href="{% url 'bookings_management' %}">
                Bookings Management
              </a>
              {% endif %}
            </div>
          </div>
  
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h1 class="byte">
              BYTE
            </h1>
            <div>
              <p>Developer Diner</p>
            </div>
          </a>

          <div>
            {% if messages %}
            <div class="container pop-up">
                <div class="col-md-8">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show byte-theme" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close x-button byte-theme" data-bs-dismiss="alert" aria-label="Close">
                          <i class="fa-solid fa-square-xmark fa-bounce"></i>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
          </div>
  
          <div class="header-account">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0 account">
              <li class="list-inline-item dropdown">
                  <a class="account-logo nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <span><i class="fas fa-user fa-lg"></i></span>
                        {% if request.user.is_authenticated %}
                        <p class="my-0 burger">{{ user.username }}</p>
                        {% else %}
                        <p class="my-0 burger">My Account</p>
                        {% endif %}
                    </div>
                  </a>
                  <div class="dropdown-menu drop border-0 account-drop" aria-labelledby="user-options">
                      {% if request.user.is_authenticated %}
                          {% if request.user.is_superuser %}
                          <a class="nav-link burger" href="{% url 'diary' %}">
                            The Diary
                          </a>
                          <a href="{% url 'bookings_management' %}" class="dropdown-item burger">Bookings<br class="my-0"> Management</a>
                          {% endif %}
                          <a href="{% url 'account_logout' %}" class="dropdown-item burger">Logout</a>
                      {% else %}
                          <a href="{% url 'account_signup' %}" class="dropdown-item burger">Register</a>
                          <a href="{% url 'account_login' %}" class="dropdown-item burger">Login</a>
                      {% endif %}
                  </div>
              </li>
            </ul>
          </div>
        </div>

        <nav>
          <ul>
            <li><a class="burger" href="{% url 'home' %}">Home</a></li>
            <li><a class="burger" href="{% url 'menu' %}">Menu</a></li>
            {% if user.is_authenticated %}
            <li><a class="burger" href="{% url 'bookings' %}">Bookings</a></li>
            {% endif %}
            <li><a class="burger" href="{% url 'contact' %}">Contact</a></li>
            {% if user.is_superuser %}
            <li><a class="burger" href="{% url 'bookings_management' %}">Bookings Management</a></li>
            {% endif %}
          </ul>
        </nav>

    </header>

    <div class="header-spacer"></div>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <footer>
      <div class="footer d-flex justify-content-around align-items-center">
        <div class="byte-site">
          <a href="{% url 'home' %}" class="footer-logo website">www.BYTE.Restaurant.com</a>
        </div>
        <div class="social-icons container">
          <div class="byte-site-icon">
            <a href="{% url 'home' %}" class="footer-logo">
              <i class="fa-solid fa-earth-europe foot-icon"></i>
            </a>
          </div>       
          <div>
            <a href="https://www.facebook.com" rel="noopener" aria-label="Facebook" target="_blank">
            <i class="fab fa-facebook-square ms-3 foot-icon"></i>
            </a>          
          </div>
          <div>
            <a href="https://www.instagram.com" rel="noopener" aria-label="Instagram" target="_blank">
            <i class="fab fa-instagram-square ms-3 foot-icon"></i>
            </a>
          </div>
          <div>
            <a href="https://www.twitter.com" rel="noopener" aria-label="Twitter" target="_blank">
            <i class="fab fa-twitter-square ms-3 foot-icon"></i>
            </a>
          </div>
        </div>
        </div>
    </footer>
    {% block postloadjs %}
    <script>
      let messages = document.getElementById('msg');
      let alert = new bootstrap.Alert(messages);
      let timer;

      messages.addEventListener('mouseenter', function () {
        clearTimeout(timer); // Clear the timer when the message is hovered over
      });

      messages.addEventListener('mouseleave', function () {
        startTimer(); // Set the timer again when the mouse leaves the message
      });

      function startTimer() {
        timer = setTimeout(function () {
          alert.close();
        }, 2500);
      }

      startTimer();
    </script>
      {% endblock %}
  </body>
</html>